DB_PASSWORD=replace-with-a-local-development-password
DB_NAME=mydatabase
DB_PORT=3307
DB_USERNAME=root
DB_URL=jdbc:mysql://localhost:3307/mydatabase
FLYWAY_BASELINE_ON_MIGRATE=false
# Gere com: openssl rand -base64 32
AUTH_JWT_SECRET_BASE64=
AUTH_REFRESH_TOKEN_TTL=P30D
AUTH_REFRESH_TOKEN_CLEANUP_ENABLED=true
AUTH_REFRESH_TOKEN_CLEANUP_INTERVAL=PT1H
AUTH_REFRESH_TOKEN_CLEANUP_RETENTION=P7D
AUTH_REFRESH_TOKEN_CLEANUP_BATCH_SIZE=500
AUTH_RATE_LIMIT_MAX_REQUESTS=20
AUTH_RATE_LIMIT_WINDOW=PT1M
